
/* Blogs */

.all-blog-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.preview-blog {
    width: 75%;
    /* margin: auto; */
}
.preview-blog:nth-last-child(1):nth-child(odd) {
    grid-column: span 2;
    width: 50%;
    /* justify-content: center; */
    margin: auto;
}

.preview-header {
    text-align: left;
    border-bottom: 1px solid black;
}

.image-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 250px;
}

.preview-img {
    padding-top: 1em;
    /* height: 50%; */
    margin: auto;
    padding-bottom: 0.5em;
    max-width: 150px;
    max-height: 250px;
}

.preview-text {
    padding-top: 1em;
    width: 50%;
}

.preview-footer {
    border-top: 1px solid black;
}

/* Full blog */

.full-blog {
    width: 50%;
    margin: auto;
}

.full-blog h2 {
    text-align: center;
}

.blog-standard {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: center;
}

.blog-img {
    /* width: 50%; */
    /* display: block; */
    width: 50%;
}

.blog-standard-text {
    width: 80%;
}

.double-img {
    /* display: grid;
    grid-template-columns: 7fr 1fr; */
}
.blog-img-two {
    /* margin-top: 5em; */
    /* margin: auto; */
    float:right;
    padding: 0px 3px 0px 0px;
    
    /* width: 80%;
    height: 80%; */
}
.blog-img-one {
    margin:auto;
    /* margin-top: 5em; */
    /* margin: auto; */
    /* float: left; */
    /* padding: 0px 3px 0px 0px; */
    /* width: 80%;
    height: 80%; */
}
.double-img .blog-double-text {
    margin: auto;
    padding-left: 1em;
    
}

.blog-header {
    font-size: 30pt;
}

.blog-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Admin Page*/

.admin-div {
    margin: auto;
    width: 50%;
}

.blog-data {
    margin-bottom: 2em;
    margin-top: 2em;
}

.new,
.new:visited {
    color: rgb(0, 100, 0);
    font-size: 24pt;
}

.edit,
.delete {
    display: block;
    width: 115px;
    height: 25px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

.delete {
    border: none;
    text-decoration: underline;
    width: 135px;
    height: 45px;
    font-size: 12pt;
    padding: 0;
    background: #af4e4e;
}

.edit {
    background: #604eaf;
}

.red {
    padding-top: 0.5em;
    color: rgb(255, 70, 70);
}

.label {
    text-align: center;
    padding: {
        top: 0.5em;
        bottom: 0.5em;
    };
}

.textarea {
    width: 100%;
    resize: vertical;
    
}