
.book-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    width: 80%;
}

.item {
    background-color: $malibu;
    border-radius: 25px;
    margin: {
        left: 25px;
        right: 25px;
    };
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    width: 350px;
    padding: 1em;
}

.information p {
    font-size: 1.2rem;
}

.book-cover {
    // width: 250px;
    width: 100%;
}